################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShareMarketDownload/.vs/ShareMarketDownload
/ShareMarketDownload/ShareMarketDownload/bin/Debug/net5.0
/ShareMarketDownload/ShareMarketDownload/obj
/ShareMarketDownload/ShareMarketDownload/bin/Debug/net5.0-windows
/Stock/ProDataGridViewColumns/ProDataGridViewColumns/bin
/Stock/ProDataGridViewColumns/ProDataGridViewColumns/obj/Debug
/Stock/ProDataGridViewColumns/ProDataGridViewColumns/obj/Release
/Stock/ShareWatch/.vs/ShareWatch
/Stock/ShareWatch/ShareWatch/bin
/Stock/ShareWatch/ShareWatch/obj
/Stock/ShareWatch/ShareWatch/ShareWatch.csproj.user
/Stock/ShareWatch/ShareWatch/Properties/PublishProfiles/FolderProfile.pubxml.user
/Stock/StockWatchDB/StockWatchDB/bin/Debug
/Stock/StockWatchDB/.vs/StockWatchDB/v16/.suo
/Stock/StockWatchDB/StockWatchDB/obj/Debug
/Stock/StockWatchDB/StockWatchDB/StockWatchDB.sqlproj.user
/Stock/StockWatchDB/StockWatchDB/StockWatchDB.publish.xml
/Stock/StockWatchDB/StockWatchDB/StockWatchDB.jfm
/Stock/ProDataGridViewColumns/ProDataGridViewColumns/obj
